/*button{
  background-color: #007BFF;
  color: white;
  border:none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s eses, transform 0.3s eses;
  box-shadow: 0px 4px 6px rgba(0,0, 0, 0.1);
}

button:hover{
  background-color: #0056b3;
  box-shadow: 0px 6px 8px rgba(0,0, 0, 0.2);
  transform: scale(1.05);
}*/

/*body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}

.kart1 {
  background-color: #FF6F61;
  width: 100px;
  height: 100px;
}

.kart2 {
  background-color: #6B5B95;
  width: 120px;
  height: 120px;
}

.kart3 {
  background-color: #88B04B;
  width: 140px;
  height: 140px;
}

.kart4 {
  background-color: #F7CAC9;
  width: 160px;
  height: 160px;
}

.kart5 {
  background-color: #92A8D1;
  width: 180px;
  height: 180px;
}*/

body{
  background-color: rgb(209, 197, 197);
}
h1{
  text-align: center;
}
.Gallery{
  display: grid;
  grid-template-columns: repeat(4,1fr);/*sutunlarin sayini gosterir*/
  gap: 25px;/*sutunlar arasinda mesafeni teyin edir*/
}

.Gallery img{
  width: 50%;
  height: auto;/*Seklin olcusunu konteynere uygunlasdirir.*/
}

.Gallery img{
  transition:transform 0.3s ease, box-shadow 0.3s ease; /*kecid effekti*/
}
.Gallery img:hover{
  transform: scale(1.2);/*sekili boyudur*/
  box-shadow: 0.4px 8px rgba(0,0,0, 0.6);/*kolge effekti
}